.upload_form {
    position: fixed;
    border: none;
    border-radius: unset;
    padding: 10px !important;
    z-index: 999;
    background-color: #212121;
    width: 100%;
    height: fit-content;

}

.form-group {
    margin: 0 0 0 20px !important;
}

.upload_header {
    color: #ccff00;
    margin-top: 10px;
    margin-left: 20px;
}

.upload_body {
    position: relative;
    bottom: 10px;

}

.clause {
    height: 42px;
    border-radius: 0 0 5px 0 ! important;
    padding: 0 !important;

}

.inline {
    display: flex;
    width: 77.5%;
    margin: auto
}

.form-control {
    padding: 5px !important;
    height: 42px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid #ccff00 !important;
    color: #ccff00 !important;
    width: 80% !important;
    border-radius: 5px 0 0 0 !important;
}

.button_upload {
    width: 20% !important;
    margin-left: 5px;

}

.multi-preview video {
    max-width: 150px;
    padding: 5px;
}

input {
    font-size: 16px;
    padding: 5px;
    margin: 10px;
}

