.wrapperVideoCard{
    width: 25% !important;
    height: auto !important;
    min-width: 320px;
    border-radius:5px;
    margin: 20px;
    border-top: 1px solid #ccff00;
    border-left: 1px solid #ccff00;
    border-right: 1px solid #ccff00;

}

.wrapperVideoCard Button{
    box-shadow: inset 0 0 0 1000px #333333;
    position: relative;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.wrapperVideoCard Button:hover{
    box-shadow: none;
}

.reactPlayer{
    width: unset !important;
    height: auto !important;
    min-width: 320px;
    border-radius: 5px 5px 0 0!important;

}
.reactPlayer  video{
    border-radius: 5px 5px 0 0!important;
}

.css-13cua4c{
    display: inline-block!important;
    position: relative!important;
    left: 10px;
    top: 5px;}