.form-control {
  padding: 1rem !important;
  border: none;
  height: unset !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid #ccff00 !important;
  color: #ccff00 !important;
}

.multi-preview img {
  max-width: 100px;
  padding: 5px;
}

.button_upload {
  width: 100%;
}
